.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 12px;
  min-width: 300px;
  color: #1a1053;
  background-color: white;
  flex: 29%;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.card-content {
  padding: 2px 16px;
}

.cases {
  color: #6236ff;
}

.recoverd {
  color: #1cb142
}

.deaths {
  color: #f9345e;
}